@model CLDVPOEMVCEventEase.Models.Event

@{
    ViewData["Title"] = "Edit";
}

<h1>Edit</h1>

<h4>Event</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="EventID" />
            <div class="form-group">
                <label asp-for="EName" class="control-label"></label>
                <input asp-for="EName" class="form-control" />
                <span asp-validation-for="EName" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="EDate" class="control-label"></label>
                <input asp-for="EDate" class="form-control" />
                <span asp-validation-for="EDate" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="EDescription" class="control-label"></label>
                <input asp-for="EDescription" class="form-control" />
                <span asp-validation-for="EDescription" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ID" class="control-label">Event Type</label>
                <select asp-for="ID" class="form-control" asp-items="@(new SelectList(ViewBag.EventTypes, "TypeID", "EType"))">
                    <option value="">-- Select Event Type --</option>
                </select>
                <span asp-validation-for="ID" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="URL" class="control-label"></label>
                <input asp-for="URL" class="form-control" />
                <span asp-validation-for="URL" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
